/* home.html */
*{
    font-family : 'Prompt', sans-serif;
}
.carousel {
    margin-top: 50px; 
}
.card{
    margin-top: 50px;
}
.space{
    margin-top: 50px;
}
.login-container {
    margin-top: 150px;
}
.margintop{
    margin-top: 20px;
}
